<mat-card>Componente Persona</mat-card>
<h2>One way binding</h2>
<p>Nombre:</p>
<input type="text" (keyup)="escribir($event)">
<p>Hola {{nombre}}<p>


<br>
<h2>To way binding</h2>
<p>------------------------------</p>
<p>Nombre:</p>
<mat-form-field class="example-full-width">
<input matInput placeholder="Escribe un apodo" [(ngModel)]="apodo">
</mat-form-field>
<div class="button-row">
<button mat-raised-button color="warn" (click)="agregar()">Agregar</button>
</div>
<p>Hola {{apodo}}</p>
<br>
<ul>
    <li *ngFor="let e of personas">{{ e }}</li>
</ul>