<mat-toolbar>Paciente</mat-toolbar>
<div class="example-container mat-elevation-28">
    <router-outlet></router-outlet>
    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ingrese un valor">
        </mat-form-field>
    </div>
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header>nombre</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.nombrePaciente}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="rut">
            <mat-header-cell *matHeaderCellDef mat-sort-header>rut</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.rutPaciente}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>email</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.emailPaciente}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="direccion">
            <mat-header-cell *matHeaderCellDef mat-sort-header>direccion</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.direccionPaciente}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <!--<button mat-button color="primary"(click)="openDialog(row)">Actualizar</button>-->
                <button mat-button color="primary" [routerLink]="['edicion',row.id]">Actualizar</button>
                <button mat-button color="accent" (click)="eliminar(row.id)">Eliminar</button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumns;">
        </mat-row>
    </mat-table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,25,50,100]"></mat-paginator>
</div>
<br>
<button mat-fab color="accent" style="float: right" routerLink='/paciente/nuevo'>
    <mat-icon>create</mat-icon>  
  </button>