<mat-card>Ingrese los datos del Especialidad</mat-card>
<br>
<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmEspecialidad="ngForm">
    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="ingrese la descripcion" required formControlName="descripcion">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="frmEspecialidad.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/especialidad' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
    </button>
</form>